root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_size = 4
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_namespace_declarations = file_scoped:suggestion

[*.{json,props,targets,csproj,sln,xml,config}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
